# Ces valeurs sont exposées au navigateur (préfixe PUBLIC_) : elles remplacent
# l'ancien config.js. Restreindre la clé Google par référent HTTP dans la
# console Google Cloud, c'est la seule protection possible côté client.
PUBLIC_EMAILJS_PUBLIC_KEY=
PUBLIC_EMAILJS_SERVICE_ID=
PUBLIC_EMAILJS_TEMPLATE_ID=
PUBLIC_GOOGLE_MAPS_API_KEY=
PUBLIC_CONTACT_EMAIL=estimermb@gmail.com
